{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ easyWhat }} - Brown University Library</title>
    <link href="{% static 'css/all_search_css_pretty-print.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery_3-3-1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap_3-3-7.min.js' %}"></script>
    {% block extra_css %}
    {% endblock %}

    <style type="text/css">
        div.container span#hide {
            display: none;
        }
        div#content_wrapper {
            margin:0 auto;
            width: 80%;
        }
        div#footer {
            padding-top: 1em;
        }
    </style>

    {% block javascripts %}{% endblock %}

</head>


<body>

    <!-- BANNER start... -->

    <div id="topmost-nav-links">
        <ul>
            <li><a href="https://library.brown.edu/borrowing/">Find &amp; Borrow</a></li>
            <li><a href="https://library.brown.edu/info/ajdb">Articles, Journals, &amp; Databases</a></li>
            <li><a href="https://library.brown.edu/about/specialists.php">Research Help</a></li>
            <li><a href="https://library.brown.edu/libweb/hours.php">Hours, Locations, &amp; Events</a></li>
            <li><a href="https://library.brown.edu/libweb/askalib.php">Ask a Question Now</a></li>
            <li><a href="https://library.brown.edu/libweb/proxy.php">Off-Campus Access</a></li>
            <li><a href="https://josiah.brown.edu/patroninfo">My Library Account</a>
        </ul>
    </div>

    <div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="//library.brown.edu" title="link to library.brown.edu"><span id="hide">library.brown.edu</span></a>
            </div>
        </div>

        <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <!-- <form accept-charset="UTF-8" action="/bul_search" class="search-query-form form-inline clearfix navbar-form" method="get"> -->
                <form accept-charset="UTF-8" action="{% url 'bul_search_url' %}" class="search-query-form form-inline clearfix navbar-form" method="get">
                    <div style="display:none">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                    </div>
                    <div class="input-group col-md-9 col-md-offset-1">
                        <label for="q" class="sr-only">Enter keywords to search library resources</label>
                        <input class="search_q q form-control" id="q" name="q" placeholder="Enter keywords to search library resources" type="text" value="" />
                        <span class="input-group-btn"> <button type="submit" class="btn btn-primary search-btn" id="search"> <span class="submit-search-text">Search</span> <span class="glyphicon glyphicon-search"></span> </button> </span>
                    </div>
                    <span class="start-over"><a href="/">Start over</a></span>
                </form>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="user-util-collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li> <a href="https://google.com/" rel="tooltip" title="about this webapp">Info</a> </li>
                    <li> <a href="https://google.com/" rel="tooltip" title="issues">Feedback</a> </li>
                </ul>
            </div>
        </div>

    </div>  <!-- end <div id="header-navbar"...  -->

    <!-- ...BANNER end -->


<div id="wrapper">


    <div id="header">

        <p class="top_header_links"><a href="http://library.brown.edu/libweb/proxy.php">Off-Campus Access</a> &nbsp;&nbsp;&#124;&nbsp;&nbsp; <a href="http://library.brown.edu/libweb/atoz.php">Library A&ndash;Z</a>
            {% comment %}
            &nbsp;&nbsp;&#124;&nbsp;&nbsp;
            {% if user and user.is_authenticated %}
	               Hello {{ user.first_name}} {{ user.last_name }}
		           &nbsp;&nbsp;&#124;&nbsp;&nbsp;
		           <a href="{{ logout_link }}">Logout</a>
            {% else %}
                 <a href="{{ login_link }}">Login</a>
            {% endif %}
            {% endcomment %}
        </p>

        <div class="BUhomelink">
            <a href="http://www.brown.edu"><img src="//library.brown.edu/images/spacer.gif" width="50" alt="Brown University Homepage" title="Brown University Homepage" /></a>
        </div>

        <div class="BULhomelink">
            <a href="http://library.brown.edu/"><img src="//library.brown.edu/images/spacer.gif" width="440" height="30" alt="Brown University Library Homepage" title="Brown University Library Homepage" /></a>
        </div>

    </div> <!-- end #header -->



    <div class="content-wrapper findit-core">
        <div class="large-content findit-core">
            <h3>{{ easyWhat }}</h3>
            {% if debug_mode %} <span style="font-size: small;"><p>(debug mode)</p></span>{% endif %}
            {% block content %}
            {% endblock %}
        </div> <!-- end .two-thirds-module-left -->

        <div class="small-content findit-core">
            {% block tool_list %}{% endblock %}
            {% block extra_content %}{% endblock %}
            {% comment %}
            For using the base url in Javascript
            {% endcomment %}
            <span id="home-link" class="hidden">{# {% url 'findit:resolver-view' %} #}</span>
        </div> <!-- end .one-third-module-right-bottom -->
    </div>




</div> <!-- end #wrapper -->


    <div id="footer">

      <div id="footer_contents">

            <div class="social_media_links">
              <a href="http://mobul.boopsie.com/"><img src="http://library.brown.edu/img_2011/moBUL_icon.png" alt="moBUL - Mobile Brown University Library"></a>
              <a href="http://library.brown.edu/about/public_feeds.php"><img src="http://library.brown.edu/img_2011/RSS_footer_icon.png" alt="Brown University Library RSS Feeds"></a>
              <a href="http://library.brown.edu/enewsletters/"><img src="http://library.brown.edu/img_2011/enewsletter_footer_icon.png" alt="Brown University Library E-Newsletters"></a>
              <a href="http://library.brown.edu/socialwall/"><img src="http://library.brown.edu/img_2011/socialwall_footer_icon.png" alt="Brown University Library Social Media Wall"></a>
              <a href="http://www.facebook.com/pages/Brown-University-Library/278826488901"><img src="http://library.brown.edu/img_2011/Facebook_icon.png" alt="Brown University Library Facebook"></a>
              <a href="http://twitter.com/brownlibrary"><img src="http://library.brown.edu/img_2011/twitter_icon.png" alt="Brown University Library Twitter"></a>
              <a href="http://library.brown.edu/gateway/lrg.php?id=67&amp;task=home"><img src="http://library.brown.edu/images/fdlp_logo_32x29.gif" alt="Federal Depository Library Program"></a>
            </div>

            <p><a href="http://library.brown.edu/">Brown University Library</a> &nbsp;|&nbsp; Providence,&nbsp;RI&nbsp;02912 &nbsp;|&nbsp; (401)&nbsp;863-2165 &nbsp;|&nbsp; <a href="http://library.brown.edu/about/stafflist.php">Contact</a> &nbsp;|&nbsp; <a href="http://library.brown.edu/forms/comments.php">Comments</a> &nbsp;|&nbsp; <a href="http://library.brown.edu/forms/feedback.php">Website&nbsp;Feedback</a> &nbsp;|&nbsp; <a href="sitemap.php">Site&nbsp;Map</a></p>

        </div> <!-- end #footer_contents -->

    </div> <!-- end #footer -->


{% block footer_javascripts %}{% endblock %}
{% if debug_mode %}
    {# pass #}
{% else %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3203647-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</body>


</html>
