<html>
<head>
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint_screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint_print.css" type="text/css" media="print">
    <link rel="stylesheet" href="http://{{ HOST }}/vufind/interface/themes/brownprint/css/styles.css" type="text/css" media="screen">
    <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint_fancy_screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css">
<style>
div#direct-header {
float: left;
margin-left: 2em;
}
body {
	background: white;
};
</style>
</head>
<body>
<div id="direct-header"><a href="{{ APP_URL }}"><img src="http://library.brown.edu/images/identity/BUL_1line_226x40px.png" alt="Brown University Library"/></a>
<!-- make this a list -->
<span>Easy Article | <a href="{{ bul_citation_url }}" target="_parent" rel="nofollow"> More info</a>|
		{% if citation.doi %}
		<a href="{{ BASE_URL }}?id={{ citation.doi }}" target="_parent" rel="nofollow">Permanent link to this citation</a>
		{% else %}
		{%if citation.pmid %}
				<a href="{{ BASE_URL }}?pmid={{ citation.pmid }}" target="_parent" rel="nofollow">Permanent link to this page</a>
		{% endif %}
		{% endif %} | help links | report a problem| <a href="{{ article_url|safe }}" rel="nofollow" target="_parent">close this</a>
</div>
</body>
</html>
