{% block extra_css %}
<link rel="stylesheet" href="{{ APP_MEDIA }}css/style.css" type="text/css">
{% endblock %}
{% block javascripts%}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="hidden success findit-core">
    <p class="success">Thank you for the feedback.  You will receive a follow up email.</p>
</div>
<fieldset id="problem-form" class="findit-core">
    <form id="problem" method="POST">
        <span id="token">{% csrf_token %}</span>
        {% comment %}
        Not going to require re-input for these fields
        <p><a href="{{ plink_url }}">{{ citation.title }}</a></p>
        <p>
            <label>Name</label>
            <input type="text" class="text" name="name" value="{{ user.first_name }} {{ user.last_name }}">
        </p>
        <p>
            <label for="dummy1">Email</label>
            <input type="text" class="text" name="email" value="{{ user.email}}">
        </p>
        {% endcomment %}
        <div id="spinner">
            <img src="http://library.brown.edu/find/interface/themes/brown/images/ajax_loading.gif" alt="Initially hidden spinner" />
        </div>
        <p class="hidden error">Please enter a description of the problem.</p>
        <p>
            <textarea name="description" rows="5" cols="20"></textarea>
            <br>
            <label for="description">Please enter a description of the problem.</label>
        </p>
        <input type="hidden" name="plink" value="{{ plink }}"/>
        <input type="submit" value="Submit">
    </form>
</fieldset>

{% endblock %}

{% block footer_javascripts %}
<script>
    //validate the form.  
    $(document).ready(function() {
        var form = $('form#problem')
        $(form).submit(function () {
            var desc = $('textarea').val();
            if (desc.length > 0) {
                //do the form
                $('#spinner').toggle();
                processProblemForm(form);
                return false;
            } else {
              $('form#problem .error').show();
              return false;
            };
        });
    });
    
    var processProblemForm = function(form, url) {
        var formData = form.serialize();
        //post the values
        $.ajax({
          type: 'POST',
          url: window.location.href,
          data: formData,
          success: function(data) {
              $('fieldset').hide();
              $('div.success').show();
              $('#spinner').toggle();
          },
          error: function(data){
                  //These are post failures which means server side error.
                  //These will trigger a 500 email to app manager.  
                  $('#spinner').toggle();
                  $("p.error").text("Your report could not be processed.  Library staff has been alerted.").show();
          }
        });
        return false;
    };
    
</script>
{% endblock %}


