{% extends "findit/base_josiah.html" %}


{% block extra_css %}
<style type="text/css">
    h4.easy_what {
        padding-top: 0;
        margin-top: 0;
        color: maroon;
    }
    div.citation {
        margin-top: 1.5em;
    }
    div.citation ul li {
        list-style-type: circle;
        margin-left: 1em;
    }
    div.citation ul li.title {  {# findit/templates/snippets/citation_display.html #}
        list-style-type: none;
        list-style-position: outside;
        font-weight: bold;
        font-size: 1.5em;
        /*color: none;*/
        margin-left: 0;
    }
    div.citation ul li.creator {  {# findit/templates/snippets/citation_display.html #}
        list-style-type: none;
        list-style-position: outside;
        /*font-style: italic;*/
        font-size: 1.25em;
        /*color: none;*/
        margin-left: 0;
        margin-bottom: .5em;
    }
</style>
{% endblock %}


{% block content %}
    <h4 class="easy_what">{{ easyWhat }}</h4>

    <div class="citation">
        {% include "snippets/citation_display_josiah.html" %}
    </div>

    <hr/>

    <div class="availability_info">
        {% include "snippets/availability.html" %}
    </div>

    <hr/>

    {% block tool_list %}
    <div class="toolbox">
        <h3>Tools</h3>
        <ul class="tools">
         {% if not plink_view %}
            <li><a href="{{ permalink }}">Permalink</a></li>
         {% endif %}
         <li><a href="http://www.refworks.com/express/expressimport.asp?{{ querystring }}">Export to Refworks</a></li>

         <li><a href="{{ ris_url }}">Export to EndNote</a></li>

         <li><a href="{% url 'findit:citation_form_url' %}?{{ enhanced_querystring }}">Update this citation</a></li>
         <li><a href="http://library.brown.edu/libweb/askalib.php">Ask a librarian</a></li>
         <li><a id="problem-link" href="{{ problem_link }}">Report a problem</a></li>
         {% if not resolved %}
         <li><a href="http://library.brown.edu/">Search the Library</a></li>
         <li><a href="http://librarycat.risd.edu">Search RISD</a></li>
         {% endif %}
        </ul>
    </div>
    {% endblock tool_list %}

{% endblock content %}







{% block footer_javascripts %}
<script>
    $(document).ready(function() {
        setupWindow();
        //setupTemplates();
        //getExtras();
        //getAbstract();
        getBookLocation();
    });

</script>
{% endblock %}
