{% extends "findit/base_josiah.html" %}


{% block page_title %}
    {% autoescape off %}
        easyAccess &#x2192 {{ easyWhat }}
    {% endautoescape %}
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    h4.easy_what {
        padding-top: 0;
        margin-top: 0;
        color: maroon;
    }
    div.citation {
        margin-top: 1.5em;
    }
    div.citation ul li {
        list-style-type: circle;
        margin-left: 1em;
    }
    div.citation ul li.title {  {# findit/templates/snippets/citation_display.html #}
        list-style-type: none;
        list-style-position: outside;
        font-weight: bold;
        font-size: 1.5em;
        /*color: none;*/
        margin-left: 0;
    }
    div.citation ul li.creator {  {# findit/templates/snippets/citation_display.html #}
        list-style-type: none;
        list-style-position: outside;
        /*font-style: italic;*/
        font-size: 1.25em;
        /*color: none;*/
        margin-left: 0;
        margin-bottom: .5em;
    }
</style>
{% endblock %}


{% block extra_tools %}
<li> <a href="{{ permalink }}" rel="tooltip" title="shortlink-url; right-click to copy">Shortlink</a> </li>
<li> <a href="http://www.refworks.com/express/expressimport.asp?{{ querystring }}" rel="tooltip" title="export-to-refworks-url">Refworks</a> </li>
<li> <a href="{{ ris_url }}" rel="tooltip" title="export-to-endnote-url">EndNote</a> </li>
<li> <a href="{% url 'findit:citation_form_url' %}?{{ enhanced_querystring }}" rel="tooltip" title="citation-form-url">Update</a> </li>
<li> <a href="http://library.brown.edu/libweb/askalib.php" rel="tooltip" title="librarian-chat-url">Lib-Help</a> </li>
{% endblock %}


{% block content %}
    <h4 class="easy_what">{{ easyWhat }}</h4>

    <div class="citation">
        {% include "snippets/citation_display_josiah.html" %}
    </div>

    <hr/>

    <div class="availability_info">
        {% include "snippets/availability.html" %}
    </div>
{% endblock content %}


{% comment %}
{% block footer_javascripts %}
<script>
    $(document).ready(function() {
        setupWindow();
        //setupTemplates();
        //getExtras();
        //getAbstract();
        getBookLocation();
    });

</script>
{% endblock %}
{% endcomment %}
