{% extends "findit/base.html" %}


{% block javascripts%}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div id="citation-linker" class="findit-core">
    {% if linker_message %}
        {% if format == "journal" %}
            <p class="info">In order to deliver an article we need the article title,
                journal title, date of publication, and the page in the journal
                where the article starts.  An ISSN, DOI or Pubmed ID will speed
                up delivery.</p>
        {% else %}{% if format == "book" %}
            <p class="info">In order to request a book on your behalf, we need
                the title and date of publication.  An OCLC number or ISBN will
                speed up delivery.</p>
        {% else %}
            <p class="info">{{ linker_message }}</p>
        {% endif %}{% endif %}
    {% endif %}

    <div id="form-select">
            <input type="radio" name="form" value="article">Article
            <input type="radio" name="form" value="book">Book
            {% comment %}
            <input type="radio" name="form" value="dissertation">Dissertation
            <input type="radio" name="form" value="patent">Patent
            {% endcomment %}
    </div>

    	<div id="article-form" class="hidden">
    		{% citation_form article_form %}
    	</div>
    	<div id="book-form" class="hidden">
    		{% citation_form book_form %}
    	</div>
    	{% comment %}
    	<div id="dissertation-form" class="hidden">
    		{% citation_form dissertation_form %}
    	</div>
    	<div id="patent-form" class="hidden">
    		{% citation_form patent_form %}
    	</div>
    	{% endcomment %}

    </div> <!-- end linker -->


{% endblock %}
{% block tool_list %}
<div class="toolbox">
<h3>Help</h3>
<ul>
    <li><a href="http://library.brown.edu/libweb/askalib.php">Ask a librarian.</a></li>
    <li><a id="problem-link" href="{{ problem_link }}">Report a problem</a></li>
</ul>
</div>

{% if debug_mode %}
<div class="toolbox">
    <h3>Debug <span style="font-size: 9px; font-weight: normal;">(this won't appear on live server)</span></h3>
    <hr/>
    <ul class="tools">
        <li><a href="{% url 'findit:resolver-view' %}">Easy Article home</a></li>
        <li class="hidden"><span id="debug" class="hidden">true</span></li>
        <li><a href="{% url 'findit:resolver-view' %}?{{ openurl }}">Full OpenUrl</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block footer_javascripts %}
<script>
	$(document).ready(function() {
		var format = "{{ form_type }}";
		//check the appropriate form radio at page load.
		$('input:radio[name=form]').filter('[value="' + format + '"]"').attr('checked', true);
		// show the proper form.  all are hidden on page load.
		var selected = '#' + format + '-form';
		$(selected).show();
		//listen for updates and show the proper form.
	    $('input[type="radio"]').live("click", function() {
	        $(selected).hide();
            var newf = '#' + $(this).val() + '-form';
            $(newf).show();
            selected = newf;
            return;
        });


    });
</script>


{% endblock %}
