dj-database-url==0.3.0
django-jsonfield==1.1.0
django-shorturls==2.0.0
Django==2.2.24
httplib2==0.18.0
#lxml==3.7.3
lxml==4.6.2
# Markdown==2.6.5
Markdown==3.3.3
PyMySQL==1.0.2
pytz==2015.7
requests==2.21.0
git+https://github.com/birkin/shellvars-py.git

## Local repos ##

## 360Link
#git+https://github.com/birkin/py360link_v2.git
#git+https://github.com/birkin/py360link_v2.git@v1.1
## the current py3 version...
git+https://github.com/birkin/py360link_v2.git@982854ec225613df7321fded3beceaada9376f00

## BibJson
#git+https://github.com/birkin/bibjsontools_bul.git@v0.4e
## the current py3-branch version...
git+https://github.com/birkin/bibjsontools_bul.git@04f34e37a654ca79e1d12c7495b91683ec013f83

## Common views - roll these into the app.  No need for separate app.
## disabling for now so I can install it locally for updates and debugging
#git+https://github.com/birkin/django-bul-link.git

## ILLiad
git+https://github.com/Brown-University-Library/illiad-client.git@v0.81
