{% extends "findit_templates/base_josiah.html" %}

{# This template handles the 'landing-pages' for articles. #}


{% block page_title %}
    {% autoescape off %}
        {# easyAccess &rarr; {{ easyWhat }} #}
        easyAccess
    {% endautoescape %}
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    h4.easy_what {
        padding-top: 0;
        margin-top: 0;
        color: maroon;
        font-size: 21px;
        /*text-decoration: underline;*/
    }
    div.citation {
        margin-top: 1.5em;
    }
    div.citation ul li {
        list-style-type: circle;
        margin-left: 1em;
    }
    div.citation ul li.title {
        list-style-type: none;
        list-style-position: outside;
        margin-left: 0;
    }
    div.citation ul li.title h1.citation_title {  {# findit_templates/findit_snippets/citation_display_josiah.html #}
        font-weight: bold;
        font-size: 1.5em;
        /*color: none;*/
        line-height: 1.42857143;
    }
    div.citation ul li.creator {  {# findit_templates/findit_snippets/citation_display_josiah.html #}
        list-style-type: none;
        list-style-position: outside;
        /*font-style: italic;*/
        font-size: 1.25em;
        /*color: none;*/
        margin-left: 0;
        margin-bottom: .5em;
    }
    div.availability_info h2 {
        font-size: 24px;
    }
</style>
{% endblock %}


{% block extra_tools %}
<!--
<li> <a href="{{ permalink }}" rel="tooltip" title="shortlink-url; right-click to copy">Shortlink</a> </li>
<li> <a href="http://www.refworks.com/express/expressimport.asp?{{ querystring }}" rel="tooltip" title="export-to-refworks-url">Refworks</a> </li>
<li> <a href="{{ ris_url }}" rel="tooltip" title="export-to-endnote-url">EndNote</a> </li>
<li> <a href="{% url 'findit:citation_form_url' %}?{{ enhanced_querystring }}" rel="tooltip" title="citation-form-url">Update</a> </li>
<li> <a href="http://library.brown.edu/libweb/askalib.php" rel="tooltip" title="librarian-chat-url">Lib-Help</a> </li>
 -->
{% endblock %}


{% block content %}
    {# <h4 class="easy_what">{{ easyWhat }}</h4> <!-- 2020-June-16: commenting this out because I can imagine folk wanting it back. --> #}

    <div class="citation">
        {% include "findit_templates/findit_snippets/citation_display_josiah.html" %}
    </div>

    <hr/>

    <div class="availability_info">
         {% comment %} {% include "findit_templates/findit_snippets/availability.html" %}  {% endcomment %}
        {% include "findit_templates/findit_snippets/availability_covid.html" %}
    </div>
{% endblock content %}


{% comment %}
{% block footer_javascripts %}
<script>
    $(document).ready(function() {
        setupWindow();
        //setupTemplates();
        //getExtras();
        //getAbstract();
        getBookLocation();
    });

</script>
{% endblock %}
{% endcomment %}
