{% extends "delivery/bul.html" %}
{% load static %}
{% load easy_tags %}



{% block extra_css %}

<style>
    .hidden {
        display: none;
    }
    .gbs-thumbnail-large {
        display: inline;
        float: right;
        z-index: -1;
    }
    #debug {
        padding-top: 5em;
    }
    #easy-main {
        min-height: 50em;
    }

    /* cool it on the height for phones */
    @media screen and (max-width: 550px) {
        #easy-main {
            min-height: 10em;
        }
    }

    .book-locator-wrapper {
        width: 650px;
        height: 500px;
        padding: 1em;
        background-color: white;
    }
    .map {
        width: 98%;
        height: 98%;
    }

    /*#request-button {
    }*/

    #relatedBookHoldingsContainer{
        margin-top: 1.5em;
    }

    ul.related-holdings li {
        margin-left: 2em;
        list-style-type: disc;
    }

    #not-found-note {
        margin-top: 3em;
        width: 30em;
    }

    #oclc {
        display: none;
    }

    #nudge-login {
        border: 2px solid black;
        padding: 1em;
        margin: 1em;
        display: none;
    }

    .asterisk {
        font-weight: bold;
    }

    #not-direct-link-warning {
        border: 2px solid;
        padding: 1em;
        background:#fff6bf;
        color:#514721;
        border-color:#ffd324;
    }

    .holdings-area {
        margin-bottom: 2em;
    }

    #logout-prompt {
        border: 1px solid #ad1400;
        padding: 1em;
        background-color: white;
    }

    h5 {
        margin-top: 1.75em;
    }

    p#also_other {
        margin-bottom: .5em;
    }

    /*td.other_holding_url {
        background-color: white;
    }*/


    @font-face {
        font-family: CircularStd;
        src: url("https://library.brown.edu/common/fonts/CircularStd-Book.otf");
    }
    div#alert {
        background-color : #FFE6A0 ;
        font-family : CircularStd ;
        padding : 25px ;
        margin-top : 2em ;
        margin-bottom : 0 ;
    }
    p#alert_last {
        margin-bottom: 0 ;
    }
    a.alert_link {
        color: maroon ;
        border-bottom: 1px dotted ;
        font-weight: bold;
    }

    div#easyb_tools {
        margin-top: 2em;
    }


</style>

{% endblock %}



{% block content %}
<div id="easy-main">


    <div id="alert">
        <h2 style="color:maroon;font-weight: bold;margin-bottom: .5em;">Important Notice</h2>
        <p><strong>Checking-out of physical materials from Brown University Library, interlibrary loan, and BorrowDirect have been suspended until further notice.</strong> In the meantime, patrons are asked to keep any items now in their possession -- including those obtained through Borrow Direct, easyBorrow, and ILLiad -- until the libraries reopen. All fines and late fees will be waived.</p>
        <p>While you may submit new requests, they will be held for future processing. We will reassess all Library services on an ongoing basis.</p>
        <p id="alert_last">Check <a class="alert_link" href="https://blogs.brown.edu/libnews/covid/">the Library's COVID-19 announcements page</a> frequently for updates about Library services.</p>
    </div>
    <hr/>



    {# include the citations #}
    {% include "delivery/bib_view.html" %}

    {% if available_locally %}
        {% for item in catalog_links %}
        <div class="detail-link">
            <a href="{{ item.url }}">View more details for item {{ item.bib }}.</a>
        </div>
        {% endfor %}
    {% endif %}

    {% if errors %}
    <div class="alert-box error">
        We need a more information before we can process this request.
    </div>
    <form action="./" method="post">{% csrf_token %}
        {{ form.as_table }}
        <p class="hidden"><input type="text" name="updated-request" value="updated-request" /></p>
        <p><input type="submit" value="Submit request" /></p>
    </form>
    {% endif %}

    <!--
    <div id="spinner" class="hidden">
        <span>
            <img src="https://library.brown.edu/find/interface/themes/brown/images/ajax_loading.gif" alt="Initially hidden spinner" />
        </span>
    </div>
    -->

    <div id="journal-update-container"></div>

    {% if transaction_number %}
        <div class="alert-box" id="request-confirmation">
            <h6>Request received</h6>
            You will receive an email shortly with further details.  If you have questions
            please contact the Interlibrary Loan office at Interlibrary_loan@brown.edu
            or 863-2169 with the Transaction Number {{ transaction_number }}.
        </div>
    {% endif %}

    {# request box #}
    <span id="transaction-number" class="hidden">{{ confirmation }}</span>


    {% if not available_locally %}  {# meaning SHOW the request-button #}
    <div id="request">
        <form method="post" name="request" action="{% url 'delivery:shib_login_url' %}">{% csrf_token %}
            <div id="multi-volume">
                <input type="checkbox" onclick="$('#hideablearea').toggle();">
                Check here <strong>IF</strong> this is a MULTI-VOLUME work.
                <br><br>
                <div id="hideablearea" class="hidden">
                    <p>Volumes needed (if applicable):
                        <input type="text" name="volumes" id="volume-note">
                    </p>
                </div>
            </div>
            <input type="hidden" name="bib"/>
            <input type="submit" class="medium white radius button" value="Request via easyBorrow" />
        </form>
        <br/><br/>
    </div>



        {% if other_holdings %}

        <hr/>

        <h5>At the library</h5>
        <p id="also_other">(Available, but can <u><b>only</b></u> be used in the <i>Hay Library Special-Collections Reading-Room</i>)</p>
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Call #</th>
                    <th>Status</th>
                    <th></th>
                    <!-- <th class="hidden">Is Available</th> -->
                </tr>
            </thead>
            <tbody>
                {% for holding in other_holdings %}
                <tr class="held-item">
                    <td class="location"> {{ holding.localLocation }} </td>
                    <td class="callnumber"> {{ holding.callNumber }} </td>
                    <td class="status"> {{ holding.publicNote }} </td>
                    <td class="other_holding_url"><a href="{{ holding.url }}">(more details)</a></td>
                    <!-- <td class="is-available hidden">false</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}  {# end of `if other_holdings` #}


    {% else %}  {# part of `if not available_locally` -- meaning do NOT show the request-button #}

    <hr/>

    <h5>At the library</h5>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Call #</th>
                <th>Status</th>
                <!-- <th class="hidden">Is Available</th> -->
            </tr>
        </thead>
        <tbody>

            {% for holding in exact_available_holdings %}
            <tr class="held-item">
                <td class="location"> {{ holding.localLocation }} </td>
                <td class="callnumber"> {{ holding.callNumber }} </td>
                <td class="status"> {{ holding.publicNote }} </td>
                <!-- <td class="is-available hidden">false</td> -->
            </tr>
            {% endfor %}

        </tbody>
    </table>

        {% if other_holdings %}
        <p id="also_other">(Also available, but can <u><b>only</b></u> be used in the <i>Hay Library Special-Collections Reading-Room</i>)</p>
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Call #</th>
                    <th>Status</th>
                    <th></th>
                    <!-- <th class="hidden">Is Available</th> -->
                </tr>
            </thead>
            <tbody>
                {% for holding in other_holdings %}
                <tr class="held-item">
                    <td class="location"> {{ holding.localLocation }} </td>
                    <td class="callnumber"> {{ holding.callNumber }} </td>
                    <td class="status"> {{ holding.publicNote }} </td>
                    <td class="other_holding_url"><a href="{{ holding.url }}">(more details)</a></td>
                    <!-- <td class="is-available hidden">false</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}  {# end of `if other_holdings` #}

    {% endif %}  {# end of `if not available_locally` #}


    {% if ebook_lst %}
    <hr/>
    <div id="full-text">
        <h5>Available online</h5>
        <ul>
        {% for e_holding_dct in ebook_lst %}
            <li> <a href="{{ e_holding_dct.ebook_url }}" class="ebook_url">{{ e_holding_dct.ebook_label }}</a></li>
        {% endfor %}
        </ul>
   </div>
    {% endif %}


    {% comment %}
    {% if ebook_dct %}
       <div id="full-text">
        <h5>Available online</h5>
            <ul>
                <li> <a href="{{ ebook_dct.ebook_url }}" class="ebook_url">{{ ebook_dct.ebook_label }}</a></li>
            </ul>
       </div>
    {% endif %}
    {% endcomment %}


    {% if attempted_request %}
        <div class="alert-box alert">
            <p>{{ attempted_request }}</p>
        </div>

    {% endif %}

    {# coin #}
    <span class="Z3988" title="{{ coin }}" class="hidden"></span>
    <hr/>
    {# holdings section #}
    <div class="error hidden"></div>
    <span id="csrf-token" class="hidden">{% csrf_token %}</span>

    {# Some resources may have fulltext on the way, e.g. Pubmed. #}
    {% if has_fulltext %}
       <div id="full-text">
        <h5>Available online</h5>
            <ul>
                {% for link in bib.link %}
                    <li> <a href="{{ link.url }}">{{ link.anchor }}</a></li>
                {% endfor %}
            </ul>
       </div>
    {% endif %}

    {# This will be populated by jQuery templates #}
    <span id="onlineHoldingsContainer" class="hidden"></span>
    <span id="openurl" class="hidden">{{ openurl }}</span>
    <span id="requestContainer" class="hidden"></span>
    <div id="onlineJournalsContainer" class="hidden holdings-area">
            <h5>Available online</h5>
            <ul>
            </ul>
    </div>

    <div id="bookHoldingsContainer" class="hidden holdings-area">
        <h5>At the library</h5>
        <table>
            <thead>
                <tr><th>Location</th><th>Call #</th><th>Status</th><th class="hidden">Is Available</th></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="relatedBookHoldingsContainer" class="hidden holdings-area">
        <h5>Other editions at Brown</h5>
        <table>
            <thead>
                <tr><th>Year/Edition<th>Location</th><th>Call #</th><th>Status</th></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="notice hidden" id="not-direct-link-warning">
            <p><span class="asterisk">&#8727;</span>
            This is not a direct link to the article.  Make note of the citation before
            proceeding to the link above at the publisher's website.
            If you don't find what you are looking for, please
            <a class="report-problem" href="#">let us know</a>.
            </p>
    </div>
    {# end holdings section #}

</div>
{% endblock %}

{% block left_sidebar %}
<!--
    <h3>easyBorrow</h3>
    <p>
        <span class="white round label" style="padding:.5em;">Leave us
            <a class="report-problem" href="{{ report_problem_url }}">feedback</a>.
        </span>
    </p>
-->
{% endblock %}

{% block right_sidebar %}
<ul class="tools">
    <li id="permalink"><a href="{{ permalink_url }}">Permalink</a></li>
    <li class="report-problem"><a href="{{ report_problem_url }}">Report a problem</a></li>
    <li><a href="http://www.refworks.com/express/expressimport.asp?{{ openurl }}">Export to Refworks</a></li>
    <li id="ris-export"><a href="{{ ris_url }}">Export to EndNote</a></li>
</ul>
{% endblock %}

{% block footer_javascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}delivery/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}delivery/js/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}delivery/js/gbsclasses.js"></script>

{% endblock %} {# end of `{% block footer_javascripts %}` #}
