{% load staticfiles %}

<!DOCTYPE html>


<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="Brown University Library website." />

	<title>Brown University Library</title>

	<!-- Included CSS Files -->
    <!--
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/globals.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/typography.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/grid.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/ui.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/forms.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/orbit.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/reveal.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/app.css">
	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/mobile.css">

	<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/BULadditions.css">
    -->

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/ie.css">
	<![endif]-->

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style>
	    .container {
	        /*background-color: white;*/
            background-color: #FAFAFA;
	    }
	</style>
	{% block extra_css %}
	{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body>



    <!-- PATTERN-LIBRARY-HEADER start... -->
    {{ pattern_header | safe }}
    <!-- PATTERN-LIBRARY-HEADER end -->
    <link href="{% static 'css/local.css' %}" rel="stylesheet" type="text/css"/>



    <!-- Old CSS Files -->


    <!-- <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/globals.css"> -->
    <link href="{% static 'delivery/css/globals.css' %}" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/typography.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/grid.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/ui.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/forms.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/orbit.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/reveal.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/app.css">
    <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/mobile.css">


    <!-- <link rel="stylesheet" href="//library.brown.edu/foundation/stylesheets/BULadditions.css"> -->



    <div class="row">
      <div class="twelve columns">

        <div id="header" class="container">

          <div id="header_contents">


<!--
              <div class="BUhomelink">
                  <a href="http://www.brown.edu"><img src="//library.brown.edu/images/spacer.gif" width="50" alt="Brown University Homepage" title="Brown University Homepage" /></a>
              </div>

              <div class="BULhomelink">
                  <a href="//library.brown.edu/"><img src="//library.brown.edu/images/spacer.gif" width="440" height="30" alt="Brown University Library Homepage" title="Brown University Library Homepage" /></a>
              </div>

              <div class="row">
                  <div class=".five.columns.offset-by-six">
                      <p class="top_header_links"><a href="//library.brown.edu/libweb/proxy.php">Off-Campus Access</a> &nbsp;&nbsp;&#124;&nbsp;&nbsp; <a href="//library.brown.edu/libweb/atoz.php">Library A&ndash;Z</a>
                      </p>
                  </div>
              </div>

 -->

          </div> <!-- end #header_contents -->

        </div> <!-- end #header -->

      </div> <!-- end twelve columns -->
    </div> <!-- end .row -->

	<div class="container">



		<div class="row">


            <div class="three columns">
                {% block left_sidebar %}{% endblock %}
            </div>



            <div class="six columns">
                {% block content %}{% endblock %}
			</div>



            <div id="easyb_tools" class="three columns show-on-desktops">
                <div class="panel">
                    {% block right_sidebar %}{% endblock %}
                </div>
            </div>

<!--
    		<div class="three columns show-on-desktops">
				<div class="panel">
					{# {% block right_sidebar %}{% endblock %} #}
				</div>
			</div>
-->
    	</div> <!-- end .row -->


        <div class="row">

            <div class="eleven columns centered show-on-tablets">
				<div class="panel">
					<h6>Sidebar Title</h6>
					<p>Sidebar text, sidebar text, <a href="#">sidebar link</a>.</p>
                    <ul class="square">
                    	<li>List item 1</li>
                    	<li>List item 2</li>
                    	<li>List item 3</li>
                    </ul>
					<p>Sidebar text, sidebar text, <a href="#">sidebar link</a>.</p>
				</div> <!-- end .panel -->
			</div> <!-- end eleven columns centered show-on-tablets -->

    	</div> <!-- end .row -->


        <div class="row">

            <div class="twelve columns show-on-phones">
				<div class="panel">
				</div> <!-- end .panel -->
			</div> <!-- end twelve columns show-on-phones -->

    	</div> <!-- end .row -->


		<div class="row">

			<div class="one columns show-on-phones">

                <div id="navbar-mobile">

				                    <div id="quicklinksinnernav-mobile">
                      <strong>Quick Links:</strong><br />
                      <a href="//library.brown.edu/libweb/askalib.php" class="ql">Ask a Librarian</a><br />
                      <a href="http://josiah.brown.edu/search/" class="ql">Josiah (Catalog)</a><br />
                      <a href="http://newfirstsearch.oclc.org/dbname=WorldCat;done=//library.brown.edu/research/;FSIP" class="ql">WorldCat</a> / <a href="//library.brown.edu/borrowing/easyBorrow.php" class="ql"><em>easyBorrow</em></a><br />
                      <a href="//library.brown.edu/eresources/index.php" class="ql">Databases A-Z</a><br />
                      <a href="http://{{ SS_KEY }}.search.serialssolutions.com" class="ql">eJournals A-Z</a><br />
                      <a href="//library.brown.edu/eresources/ebooks.php" class="ql">eBooks</a><br />
                      <a href="http://dl.lib.brown.edu/reserves/" class="ql">Course Reserves (OCRA)</a><br/>
                      <a href="//library.brown.edu/m/" class="ql"><em>MoBUL</em> for your phone</a><br/>
                  </div>
                  <div id="researchinnernav-mobile">
                      <strong>Research:</strong><br />
                      <a href="//library.brown.edu/libweb/getstarted.php" class="ql">Getting Started</a><br />
                      <a href="//library.brown.edu/gateway/" class="ql">Guides</a>: <a href="//library.brown.edu/gateway/" class="ql">by Subject</a> / <a href="//library.brown.edu/gateway/classes.php" class="ql">Course</a><br />
                      <a href="//library.brown.edu/collatoz/videos.php" class="ql">Videos &amp; DVDs</a><br />
                      <a href="//library.brown.edu/luna/" class="ql">Instructional Images</a><br />
                      <!-- <a href="//library.brown.edu/gateway/lrg.php?id=80&amp;task=db" class="ql">Virtual Reference</a><br /> -->
                      <a href="//library.brown.edu/collections/" class="ql">Collections</a> / <a href="//library.brown.edu/collatoz/" class="ql">A-Z</a><br />
                      <a href="//library.brown.edu/libweb/citations.php" class="ql">Citation Management</a><br />
                      <a href="http://www.brown.edu/Administration/Copyright/" class="ql">Copyright &amp; Fair Use</a><br />
                      <a href="//library.brown.edu/cds/" class="ql">Center for Digital Scholarship</a><br />
                  </div>
                  <div id="libraryservicesinnernav-mobile">
                      <strong>Library Services:</strong><br />
                      <a href="//library.brown.edu/borrowing/index.php" class="ql">Borrowing</a><br />
                      <a href="//library.brown.edu/forms/" class="ql">Online Forms</a><br />
                      <a href="//library.brown.edu/about/specialists.php" class="ql">Librarians by Subject</a><br />
                      <a href="//library.brown.edu/libweb/tips.php" class="ql">Tools &amp; Tutorials</a><br />
                      <a href="//library.brown.edu/libweb/libx.php" class="ql">LibX</a> / <a href="//library.brown.edu/libweb/google.php" class="ql">Google Scholar</a><br />
                      <a href="//library.brown.edu/titles/" class="ql">New Titles</a> <span style="color:red">&mdash; <em>new!</em></span><br />
                      <a href="//library.brown.edu/libweb/visitors.php" class="ql">Visiting the Library</a><br />
                      <a href="//library.brown.edu/about/index.php" class="ql">About the Library</a><br />
                  </div>

                </div> <!-- end #navbar-mobile -->

			</div> <!-- end one columns show-on-phones -->

		</div> <!-- end .row -->


        <!-- Google Analytics script -->


	</div> <!-- end .container -->


    <div id="footer">

<!--
      <div id="footer_contents">

            <div class="social_media_links">
              <a href="http://mobul.boopsie.com/"><img src="http://library.brown.edu/img_2011/moBUL_icon.png" alt="moBUL - Mobile Brown University Library"></a>
              <a href="http://library.brown.edu/about/public_feeds.php"><img src="http://library.brown.edu/img_2011/RSS_footer_icon.png" alt="Brown University Library RSS Feeds"></a>
              <a href="http://library.brown.edu/enewsletters/"><img src="http://library.brown.edu/img_2011/enewsletter_footer_icon.png" alt="Brown University Library E-Newsletters"></a>
              <a href="http://library.brown.edu/socialwall/"><img src="http://library.brown.edu/img_2011/socialwall_footer_icon.png" alt="Brown University Library Social Media Wall"></a>
              <a href="http://www.facebook.com/pages/Brown-University-Library/278826488901"><img src="http://library.brown.edu/img_2011/Facebook_icon.png" alt="Brown University Library Facebook"></a>
              <a href="http://twitter.com/brownlibrary"><img src="http://library.brown.edu/img_2011/twitter_icon.png" alt="Brown University Library Twitter"></a>
              <a href="http://library.brown.edu/gateway/lrg.php?id=67&amp;task=home"><img src="http://library.brown.edu/images/fdlp_logo_32x29.gif" alt="Federal Depository Library Program"></a>
            </div>

            <p><a href="http://library.brown.edu/">Brown University Library</a> &nbsp;|&nbsp; Providence,&nbsp;RI&nbsp;02912 &nbsp;|&nbsp; (401)&nbsp;863-2165 &nbsp;|&nbsp; <a href="http://library.brown.edu/about/stafflist.php">Contact</a> &nbsp;|&nbsp; <a href="http://library.brown.edu/forms/comments.php">Comments</a> &nbsp;|&nbsp; <a href="http://library.brown.edu/forms/feedback.php">Website&nbsp;Feedback</a> &nbsp;|&nbsp; <a href="sitemap.php">Site&nbsp;Map</a></p>

        </div>

-->
        <!-- end #footer_contents -->

    </div> <!-- end #footer -->


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/jquery.reveal.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/jquery.orbit-1.4.0.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/jquery.customforms.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/jquery.placeholder.min.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/modernizr.foundation.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/jquery.tooltips.js"></script>
	<script src="//library.brown.edu/foundation/javascripts/app.js"></script>
    {% block footer_javascripts %}{% endblock %}

</body>


</html>
