{% extends "delivery/bul.html" %}


{% block extra_css %}

<style>
    .hidden {
        display: none;
    }
    .gbs-thumbnail-large {
        display: inline;
        float: right;
        z-index: -1;
    }
    #debug {
        padding-top: 5em;
    }
    #easy-main {
        min-height: 50em;
    }

    /* cool it on the height for phones */
    @media screen and (max-width: 550px) {
        #easy-main {
            min-height: 10em;
        }
    }

    .book-locator-wrapper {
        width: 650px;
        height: 500px;
        padding: 1em;
        background-color: white;
    }
    .map {
        width: 98%;
        height: 98%;
    }

    #request-button {
    }

    #relatedBookHoldingsContainer{
        margin-top: 1.5em;
    }

    ul.related-holdings li {
        margin-left: 2em;
        list-style-type: disc;
    }

    #not-found-note {
        margin-top: 3em;
        width: 30em;
    }

    #oclc {
        display: none;
    }

    #nudge-login {
        border: 2px solid black;
        padding: 1em;
        margin: 1em;
        display: none;
    }

    .asterisk {
        font-weight: bold;
    }

    #not-direct-link-warning {
        border: 2px solid;
        padding: 1em;
        background:#fff6bf;
        color:#514721;
        border-color:#ffd324;
    }

    .holdings-area {
        margin-bottom: 2em;
    }

    #logout-prompt {
        border: 1px solid #ad1400;
        padding: 1em;
        background-color: white;
    }

    #message li {
        margin-left: 20px;
        list-style-type: square;
    }

</style>

{% endblock %}  {# end of `{% block extra_css %}` #}


{% block content %}

<div id="request" class="findit-core">
    <div id="message">
        <p>{{ message | safe }}</p>
    </div>
</div>

<div id="easy-main">
</div>

{% endblock %}


{% block left_sidebar %}
    <h3>easyBorrow</h3>
    <p>
        <span class="white round label" style="padding:.5em;">Leave us
            <a class="report-problem" href="#">feedback</a>.
        </span>
    </p>
{% endblock %}

{% block right_sidebar %}
<ul class="tools">
    <li id="permalink"><a href="{{ permalink_url }}">Permalink</a></li>
    <li class="report-problem"><a href="#">Report a problem</a></li>
    <li><a href="http://www.refworks.com/express/expressimport.asp?{{ openurl }}">Export to Refworks</a></li>
    <li id="ris-export"><a href="#">Export to EndNote</a></li>
</ul>
{% endblock %}
