{% extends "findit/base.html" %}
{% load easy_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css">
    <style>
        form {
            margin-left: 2em;
            width: 45em;
        }
        #bookHoldingsContainer.holdings table {
            margin-top: .5em;
        }
        #bookHoldingsContainer.holdings table tbody tr th {
            font-weight: normal;
            border-bottom: solid 1px lightGrey;
        }
        #bookHoldingsContainer.holdings table tbody tr td {
            background: none;
        }
        .gbs-thumbnail-large img {
            display: inline;
            float: left;
            margin: 1em;
            margin-top: 0;
        }
    </style>
{% endblock%}
{% block javascripts%}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}delivery/js/gbsclasses.js"></script>
{% endblock %}

{% block content %}

<div class="content">
    {% if gbs %}
        <span title="*" class="gbs-thumbnail-large gbs-remove-on-failure gbs-link-to-preview">{{ gbs }}</span>
    {% endif %}
    {# do books #}
    <div class="citation">
    
    
    {% ifequal bib.type "book" %}
    <ul>
        <li class="title">{{ bib.title }} </li>
        {% for author in bib.author %}
            <li>{{ author.name }}</li>
        {% endfor %}
        {% if bib.year and bib.publisher %}
            <li>{{ bib.publisher }}, {{ bib.year }}</li>
        {% endif %}
        {% for id in bib.identifier %}
            <li id="{{ id.type }}">{{ id.type|upper }}: {{ id.id }}</li>
        {% endfor %}
        <li>Book <img class="format-icon" src="http://library.brown.edu/new_titles_media/icons/book.png"/>
        </li>
    </ul>
    {% else %} 
        {% ifequal bib.type "article" %}
            <ul>
                <li class="title">{{ bib.title }}</li>
                <li>{{ bib.journal.name }}</li>
                {% for author in bib.author %}
                    <li>{{ author.name }}</li>
                {% endfor %}
                <li>Volume: {{ bib.volume}}. Issue: {{ bib.issue }}.  Pages: {{ bib.start_page }} {% if bib.end_page %} - {{ bib.end_page}}{% endif %}.  Year: {{ bib.year }}</li>
                <li>Article
                    <img class="format-icon" src="{{ STATIC_URL }}delivery/images/article.png"/>
                    </li>
            </ul>
        {% else %}   
            <ul>
                <li class="title">{{ bib.title }}</li>
                {% for author in bib.author %}
                    <li>{{ author.name }}</li>
                {% endfor %}
                {% if bib.publisher and bib.year %}
                    <li>{{ bib.publisher }} {{ bib.year }}</li>
                {% else %}
                    {% if bib.year %}
                    <li>Year: {{ bib.year }}</li>
                    {% endif %}
                {% endif %}
                {% for id in bib.identifier %}
                    <li id="{{ id.type }}">{{ id.type|upper }}: {{ id.id }}</li>
                {% endfor %}
            </ul>
        {% endifequal %}
        
    
    
    
    {% endifequal %}
    
    
    <div id="spinner">
        <span> 
        Locating access..
            <img src="https://library.brown.edu/find/interface/themes/brown/images/ajax_loading.gif" alt="Initially hidden spinner" />
        </span>
    </div>
    
    {# This will be populated by jQuery templates #}
    <span id="onlineHoldingsContainer" class="hidden"></span>
    <span id="openurl" class="hidden">{{ openurl }}</span>
    <span id="requestContainer" class="hidden"></span>
    <span id="bookHoldingsContainer" class="hidden holdings">
        <h3>At the library</h3>
        <table>
            <tr><th>Location</th><th>Call number</th><th>Status</th></tr>
        </table>
    </span>
    </div>

</div>


{% if debug_mode %}
<h3 style="margin-top: 2em;">Debug mode</h3>
<div class="content">
        <form name="ourl" id="test-form" action="/dev/" method="GET">
            <fieldset>
            <select name="qtype">
            <option value="query">OpenURL</option>
             <option value="pmid">PubmedID</option>
            <option value="doi">DOI</option>
            </select>    
            <input type="text" size="75"/>
            <input type="submit" value="Go"/>
            <p>Paste an OpenURL, Pubmed ID, or DOI into the box and click Go.</p>
            </fieldset>
        </form>
</div>  
<div style="margin: 2em;">
    <h5>Format/genre: {{ bib.type }}</h5>
    <div class="holding-status"><h5>Status - item not available</h5></div>
    <hr/>
    <div class="holdings-debug"></div>
    <br/>
    <hr/>
    <h5>OpenURL</h5>
    <hr />
    {% for name, value in cite.items %}
      {% if value %}
        {{ name }} => {{ value }}<br/>
      {% endif %}
    {% endfor %}
    <hr />
    <br/>
    <br/>

    <h5>BibJSON key, value</h5>
    {% for name, value in bib.items %}
      {% if value %}
        {{ name }} => {{ value }}<br/>
      {% endif %}
    {% endfor %}
    <hr />
    <br/>
    <br/>

    <h5>Query string</h5>
    {{ query }}
    <hr />

</div>
{% endif %}

{% endblock %}

{% block footer_javascripts %}
<script>
    var available_text = 'AVAILABLE';
    $(document).ready(function() {
        window.bib = {{bibjson|safe}};
        bindForm();
        $('#spinner').show();
        setupWindow();
        window.local_print = false;
        window.available = false;
        setupTemplates();
        //bgetHoldings();
        fetchByISBN();
        fetchByOCLC();
        getElectronicHoldings();
        //abstracts and such
        //getExtras();
        //wait for ajax calls to finish - then do this
        $("#spinner").ajaxStop(function(){
          $(this).hide();
          //call logic
          lookupsFinished();
        });
    });
    
    
    function lookupsFinished() {
        if (window.available == false) {
            $('#requestContainer').show();
            $('#requestContainer').html($('#easyBorrowRequestTemplate').tmpl());
            $('form#book-request').submit(function() {
                console.log('request form clicked');
                $('#requestContainer').html('<span style="color: green; font-weight: bold;">Requested</span>');
                console.debug(window['bib']);
                return false; 
            });
        };
    };
    
    //fetch by OCLC
    function fetchByOCLC() {
        try {
            var oclcs = _.filter(window.bib['identifier'], function(num){ return num.type == 'oclc'; });
            getLocalAvailability(oclcs[0].id, 'oclc');
        } 
        catch (err) {
            return;
        }
        //get related oclcs
        //jsonFetch('http://xisbn.worldcat.org/webservices/xid/oclcnum/' + oclcs[0].id + '?method=getEditions&format=json&fl=oclcnum&callback=?',
        //{},
        //processRelatedOCLC);
    };
    
    //pull isbn from bib json
    function fetchByISBN() {
        //isbns
        var isbns = _.filter(window.bib['identifier'], function(num){ return num.type == 'isbn'; });
        //first isbn only right now.
        try {
            var isbn = isbns[0].id;
            //try to get a match on the orig isbn;
            getLocalAvailability(isbn, 'isbn');
            return getRelatedISBNs(isbn);
        }
        catch (err) {
            return;
        }
    };
    
    function getRelatedISBNs(isbn) {
        jsonFetch('http://library.brown.edu/easyborrow/xisbn/isbn/' + isbn + '?callback=?', {}, processRelatedISBNs);
    };
    
    function processRelatedISBNs(srv) {
            var alt = srv.response.filtered_alternates
            //try to get local availability for each alternate isbn found with xisbn.
            _.each(alt, function(doc, count){
               _.each(doc.isbn, function(this_isbn) {
                        getLocalAvailability(doc.isbn, 'isbn');
                        }); 
            });
        };
        
    function processRelatedOCLC(srv) {
        var oclcs = _.flatten(_.pluck(srv.list, 'oclcnum'));
        //lookup each oclcnumber
        _.each(oclcs, function(o) {
                    if (window.available != true) {  
                        getLocalAvailability(o, 'oclc');
                    };
                });
    };
        
    //check Josiah availability
    function getLocalAvailability(value, index) {
        //only send requests if we don't have an available copy yet.
        if (window.available != true) {
            jsonFetch('http://library.brown.edu/services/availability/' + index + '/' + value + '?callback=?', {}, processLocalHoldings);
        };
    };
    
    //Get holdings from 360link.
    function getElectronicHoldings() {
        var ourl = $('#openurl').text();
        jsonFetch('../dev/link360/?' + ourl + '&output=json', {},processOnlineHoldings);
    };
    
    function processOnlineHoldings(holdings) {
        //call merge to add any found metdata
        mergeBibJSON(holdings['bibjson']);
        //
        if ((holdings['direct'] != null) && (holdings['direct'].length > 0)) {
            window.available = true;
            $('#onlineHoldingsContainer').show();
            $('#onlineHoldingsContainer').html($('#onlineWrapperTemplate').tmpl())
            $('#onlineHoldingsContainer ul.online-holdings').append($('#directOnlineTemplate').tmpl(holdings['direct']))
            //$('#onlineHoldingsContainer').html('<a href="' + holdings['direct_link']['link'] + '">Full text from ' + holdings['direct_link']['provider'] + '</a>');
        };
    };
    
    function mergeBibJSON(newBib) {
      //console.log(newBib);
      //console.log(window.bib);  
      //extend the existing bibjson object with the new one, then compact to remove
      //null values
      _.extend(window.bib, newBib);
      console.log(window.bib);
      //fire a render of the metadata
    };

    
    function processLocalHoldings(holdings) {
            if (holdings.items.length > 0) {
                //see if we have an available item
                var avail = _.filter(holdings.items, function(item) {
                    return $.trim(item.availability) == available_text;
                });
                //see if copies are available
                if (avail.length > 0 ) {
                    $('div.holding-status').html('<h5>Status - item available</h5>');
                    window.available = true;
                    $('#bookHoldingsContainer').show();
                    $('#bookHoldingsContainer table').append($("#josiahHoldingsTemplate").tmpl(holdings.items));
                    //call locator
                    _.each($('#bookHoldingsContainer tr.held-item'), function (n) {
                        var loc = $(".location", n).text();
                        var call = $(".callnumber", n).text();
                        //var call = $(child[1])
                        console.log(loc+call); 
                        //locate(loc, call, n);
                    });
                } else {
                    $('div.holdings-debug').append(holdings.query.type + ':  ' + holdings.query.value + ' the library has this items but no copies are available at the library.<br/>')
                };
                
                
            } else {
                $('div.holdings-debug').append(holdings.query.type + ':  ' + holdings.query.value + ' not available at the library.<br/>');  
            };
        };
    
    function bindForm() {
        $("form#test-form").submit(function() {
                //console.debug($('input'));
                var qtype = $('#test-form select').val();
                var q = $("#test-form input:first").val();
                var base = window.location.origin + window.location.pathname;
                if (qtype == 'query') {
                    var url = base + '?' + q;
                    
                }
                else if (qtype == 'pmid') {
                    var url = '?pmid=' + q;
                }
                else if (qtype == 'doi') {
                    var url = '?doi=' + q;
                };
                window.location.href = url;
                return false;
                //var q = $("input:first").val();
                //var url = window.location.href + '?' + q;
                //window.location.href = url;
                //return false;
         });
   };
   
   
        
</script>

{%raw%}

<script id="onlineWrapperTemplate" type="text/x-jQuery-tmpl">
    <div class="holdings">
        <h3>Online access</h3>
        <ul class="online-holdings">
        </ul>
    </div>
</script>

<script id="directOnlineTemplate" type="text/x-jQuery-tmpl">
    <li class="direct"><a href="${url}">${anchor}</a></li>
</script>

<script id="josiahHoldingsTemplate" type="text/x-jQuery-tmpl">
    <tr class="held-item"><td class="location">${location}</td><td class="callnumber">${callnumber}</td><td class="status">${availability}</td></tr>
</script>

<script id="easyBorrowRequestTemplate" type="text/x-jQuery-tmpl">
    <form id="book-request">
        <input type="submit" value="Place this request">
    </form>
</script>
{% endraw %}


{% endblock %}
