
<script id="holdingsTemplate" type="text/x-jQuery-tmpl">
    <div class="holdings">
        <h3>Online access</h3>
        <ul class="online-holdings">
            <li class="source"><a href="${link}">${provider}</a></li>
        </ul>
    </div>
</script>
<script id="nonDirectHoldingsTemplate" type="text/x-jQuery-tmpl">
    <div class="holdings">
        <h3>Online access</h3>
        <ul class="online-holdings">
            {{each online}}
                <li class="source"><a href="${link}">${name}</a>&#8727;</li>
            {{/each}}
        </ul>
    </div>
</script>
<script id="printHoldingsTemplate" type="text/x-jQuery-tmpl">
    <div class="holdings">
        <h3>At the library</h3>
        <ul class="online-holdings">
            {{each print}}
                <li class="source"><a href="${url.link}">${name}</li>
            {{/each}}
        </ul>
    </div>
</script>

<!-- Add abstracts from Mendeley -->
<script id="abstractTemplate" type="text/x-jQuery-tmpl">
    {{if abstract }}
        <h3>${header}</h3>
        <div id="abstract"><p>${abstract}</p>
        {{if mendeley_url}}
            <a href="${mendeley_url}"><img src="${base_url}static/images/mend.png" alt="More information from Mendeley."/></a></div>
        {{/if}}
        {{if jstor_url}}
            <a href="${jstor_url}"><img src="${base_url}static/images/jstor.jpg" alt="More information from JSTOR."/></a></div>
        {{/if}}
        {{if mas_url}}
            <a href="${mas_url}"><img src="${base_url}static/images/mas.png" alt="More information from Microsoft Academic Search."/></a></div>
        {{/if}}
    {{/if }}
</script>

<!-- Add related research from Mendeley -->
<script id="relatedResearchTemplate" type="text/x-jQuery-tmpl">
    <h3>${header}</h3>
    <ul>
       {{each articles }}
           <li><a href="${open_url}">${title}</a></li>
       {{/each}}
    </ul>
</script>

<!-- full text links from pubmed -->
<script id="pdfTemplate" type="text/x-jQuery-tmpl">
    <a href="http://www.pubmedcentral.nih.gov/picrender.fcgi?artid=${pmc_id}&tool=pmcentrez">Pubmed Central</a>
</script>

<!-- links from Google Scholar -->
<script id="gScholarTemplate" type="text/x-jQuery-tmpl">
    <a href="http://scholar.google.com/scholar?ie=utf-8&q=related:${url}">Related articles from Google Scholar</a>
</script>

<script id="requestedCitationTemplate" type="text/x-jQuery-tmpl">
    <p class="success">You requested this item on ${date}.</p>
</script>


<script id="holdsTemplate" type="text/x-jQuery-tmpl">
    <h5>Your holds</h5>
    <ul>
    {{each holds}}
        <li id="${key}">${title} - ${pickup} - ${cancel_by} - ${status} - <a href="#" id="${key}" onclick="cancelHold(this);return false;">cancel</a></li>
    {{/each}}
    </ul>
</script>

<script id="checkoutsTemplate" type="text/x-jQuery-tmpl">
    <h5>Your checkouts</h5>
    <ul>
    {{each checkouts}}
        <li id="${key}">${title} - ${status} - <a href="#" id="${key}" onclick="renewItem(this);return false;">renew</a></li>
    {{/each}}
    </ul>
</script>

<script id="itemsTemplate" type="text/x-jQuery-tmpl">
    <h5>Items</h5>
    <ul>
    {{each items}}
        {{if item}}
            <li id="${item}">${callnumber} - ${location} - ${status} - <a href="#" id="${item}" onclick="placeHold(this);return false;">request</a></li>
        {{else}}
            <li>${callnumber} - ${location} - ${status}.</li>
        {{/if}}
    {{/each}}
    </ul>
</script>

<script id="finesTemplate" type="text/x-jQuery-tmpl">
    <h5>Fines</h5>
    <p>Total: ${fines.total}</p>
    <ul>
    {{each fines.fines}}
         <li>${label} - ${amount}</li>
    {{/each}}
    </ul>
</script>

<script id="mendeleyExtrasTemplate" type="text/x-jQuery-tmpl">
    <div class="toolbox">
        <h3>Mendeley</h3>
        <hr/>
        <ul class="tools">
        {{each link}}
             <li><a href="${url}">${label}</a></li>
        {{/each}}
        <ul>
    </div>
</script>

<script id="jstorExtrasTemplate" type="text/x-jQuery-tmpl">
    <div class="toolbox">
        <h3>Jstor</h3>
        <hr/>
        <ul class="tools">
        {{each link}}
             <li><a href="${url}">${label}</a></li>
        {{/each}}
        <ul>
    </div>
</script>

<script id="masExtrasTemplate" type="text/x-jQuery-tmpl">
    <div class="toolbox">
        <h3>Microsoft Academic Search</h3>
        <hr/>
        <ul class="tools">
        {{each link}}
             <li><a href="${url}">${label}</a></li>
        {{/each}}
        <ul>
    </div>
</script>

